
.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }
  body {
    background-color: #9fc4fb
}

.container-fluid {
    background-color: #E9A760
}

.msg-form {
    background-color: white;
    padding: 20px
}

.pad-icon {
    padding-top: 50px;
    padding-left: 20px
}

.pad-icon a {
    text-decoration: none;
    margin-right: 40px
}

.input-group input:focus {
    border: 1px solid #E9A760
}

.pad-icon a:active {
    height: 30px;
    width: 30px;
    background-color: #E9A760
    border-radius: 100%
}

.links {
    padding-top: 50px;
    width: 50%
}

#bordering a:active {
    border: 1px solid #E9A760
}

@media(min-width:568px) {
    .container-fluid {
        margin: 100px 30px;
        width: 96%;
        padding-top: 50px;
        padding-bottom: 50px
    }
}

@media(max-width:567px) {
    .container-fluid {
        margin: 10px 10px;
        width: 94%;
        padding-top: 20px;
        padding-bottom: 20px
    }

    .pad {
        padding-top: 20px
    }
}








/* contact form */

